body {
    background-image: url("../images/crystal-game-background.jpg")
}

#jumbotron {
    background-color: #e1e1d6; 
    opacity: 0.85;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 40px; 
    color: #62be3b; 
    font-style: bold; 
}

p {
    text-align: left; 
}

.instructions {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 15px;
    background-color: white; 
    opacity: 0.85;
    text-align: center; 
    border-color: #221c25;
    border-width: 1px; 
    border-radius: 5px;
    border-style: solid;
}

.crystal-image {
    width: 25%;
    height: 72ß%;
    margin-top: 15px;
    margin-bottom: 30px; 
    background-color: white;
    border-style: solid;
    border-color: #221c25;
    border-width: 1px; 
    border-radius: 5px;
    border-style: solid;
}

.target-number {
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white; 
    opacity: 0.85;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
    border-color: #221c25;
    border-width: 1px; 
    border-radius: 5px;
    border-style: solid; 
}

.total-score {
    margin-top: 15px;
    margin-bottom: 30px; 
    background-color: white;
    opacity: 0.85; 
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 15px; 
    border-color: #221c25;
    border-width: 1px; 
    border-radius: 5px;
    border-style: solid;
}

.wins-loss {
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white; 
    opacity: 0.85; 
    text-align: center; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    border-color: #221c25;
    border-width: 1px; 
    border-radius: 5px;
    border-style: solid; 
}