body {
    background-image: url("../images/crystal-game-background.jpg")
}

#jumbotron {
    background-color: #221c25;
    color: white; 
    opacity: 0.85;

}

.instructions {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 15px;
    background-color: white; 
    opacity: 0.85;
    text-align: center; 
}

.crystal-image {
    width: 25%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px; 
    background-color: white;
    border-style: solid;
    border-color: #221c25;
    border-width: 1px; 
    border-radius: 5px;
}

.target-number {
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white; 
    opacity: 0.85;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.total-score {
    margin-top: 15px;
    margin-bottom: 30px; 
    background-color: white;
    opacity: 0.85; 
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 15px; 
}

.wins-loss {
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white; 
    opacity: 0.85; 
    text-align: center; 
    padding-top: 15px; 
    padding-bottom: 15px; 
}